In [1]:
#Question 1

In [2]:
for i in range (1,10):
  if(i==5):
    break
  print(i)

1
2
3
4

In [ ]:
#Question 2

In [13]:
lst=[1,2,3,4,5,6,7]
target =3
for i in lst:
  if i==target:
    break
  print(i)

1
2

In [ ]:
#Question 3

In [14]:
for i in range(1,11):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9

In [ ]:
#Question 4

In [15]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
#Question 5

In [16]:
# Iterate through numbers 1 to 5
for i in range(1, 6):
    print(f"Multiplication Table for {i}:")

    # Iterate through multiples up to 10
    for j in range(1, 11):
        print(f"{i} x {j} = {i*j}")

    print()  # Empty line after each table

Multiplication Table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication Table for 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication Table for 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication Table for 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication Table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#Question 6

In [19]:
a=1
while a<=10:
  if a%2==0:
    a+=1
    continue
  print(a)
  a+=1

1
3
5
7
9