In [ ]:
#Question 1

In [ ]:
'''
The python keywords have the special meaning in the python programming language.
 The keyword are cannot be use as the variable name because the keywords are predifined
 and have special meaning in the python programming language '''

In [5]:
#the keywords in python are below
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [6]:
a=10
b= 20

In [7]:
if(a<b):
  print("The second number is greter" , b)
elif(a==b):
  print("Numbers are equal")
else:
  print("the a is greater")

The second number is greter 20

In [8]:
Sports=['Cricket','Badminton','Hockey','Volleywoll']

In [9]:
for sport in Sports:
  print(sport)

Cricket
Badminton
Hockey
Volleywoll

In [10]:
num=0
while num<10:
  print(num)
  num+=1

0
1
2
3
4
5
6
7
8
9

In [ ]:
# we cover the if,elif,else,for,while

In [ ]:
#Question 2

In [ ]:
'''
identifiers can be a combination of uppercase,lowercase, digits or an underscore
In python identifiers cannot start with numbers
Special symbol cannot be used in the identifiers like !,@,$ \
Identifiers cannot be python keywords
'''

In [12]:
num = 10
num_float = 12.6
str_1 ="hlew world"

In [13]:
#Question 3

In [ ]:
'''
Comments in python are not executable peice of code.Comments is used to explain
code and make code more readeable
In python basically there are three types of comments
1) Single line comment is used to comments single line we need to use #
2) multi line comments is used to comment multiple lines using (''',''') at the starting anf the ending
3) Inline comments are placed in the same line where code is present to explain that part of code
'''
#single line comment
'''
multi line
comment
'''
n= 56 # n is store integer type of data

In [1]:
#Question 4

In [2]:
'''
The proper indention used to make a program more rediable
In python the indention is very important
'''

'\nThe proper indention used to make a program more rediable\nIn python the indention is very important \n'

In [3]:
#Question 5

In [5]:
'''
Incorrect indention gives an error in python
The program should be in proper indendation otherwise code give an error
'''

'\nIncorrect indention gives an error in python\nThe program should be in proper indendation otherwise code give an error\n'

In [6]:
#example
if(10==10):
  print("both number is equal")
else:
  print("not equal")

both number is equal

In [ ]:
#example of wrong intendation
if(10==10):
print("both number is equal")
else:
print("not equal")

In [8]:
#Question 6

In [ ]:
'''
In expression basically the any operation is done by the interpreter is expression
In statement we just we state aur give command that task has to be done
'''

In [9]:
#example of expression
20+10

30

In [10]:
"hlew " + "world"

'hlew world'

In [11]:
#example of statement
num1= 60
print("the number is " , 60)

the number is  60